.THIS .slds-grid{
    width:75%; 
    margin:auto;  
    border: solid 1px rgba(16, 110, 163, 0.25); 
    border-top: 2px solid #106EA3;
}
.THIS .slds-wrap {
align-items: inherit;
}
.THIS.headDropedown{
    font-family: Roboto;
    font-size: 40px;
    line-height: 1.3;
    text-align: center;
    color: #3b435b;
    margin-bottom: 30px;
}
.THIS svg{
    fill:#3b435b;
}
.THIS .contLeft{
    background-color: #f7f8fa;
    border-right: solid 1px rgba(16, 110, 163, 0.25);
}


.THIS h2 {
    font-family: Roboto;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.19;
    text-align: left;
    color: #354378;
    width: 90%;
    padding-top: 20px;
    margin: auto;
}
.THIS p{
    font-family: Roboto;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.36;
    text-align: left;
    color: #3b435b;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

.THIS li{
    font-family: Roboto;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.36;
    text-align: left;
    color: #3b435b;
    width: 90%;
    padding-top: 20px;
    margin: auto;
}
.THIS .checklistNum{
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    border: solid 1px #00629b;
    display: inline-block;
    line-height: 44px;
    -moz-border-radius: 30px;
    border-radius: 22px;
    text-align: center;
    margin-right: 15px;
}
.THIS .slds-button_brand, .THIS .slds-button--brand {
    margin: 30px;
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
    color: #e8007f;
    background-color: #fff;
    padding: 5px;
}

.THIS .slds-button_brand {
    padding-left: 2em;
    padding-right: 2em;
}