.THIS {
    font-size: 1rem;
}

button.THIS {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    color: #3b435b;
}

.THIS.results {
    width: 100%;
    border: 1px solid #a8b7c7;
    border-top: none;
    overflow: hidden;
    z-index: 99;
}

.THIS.results a {
    display: block;
    padding: 1px 40px;
    text-decoration: none;
    color: inherit;
}

.THIS.results a:hover {
   background-color: #CEECF5;
}