.THIS.slds-wrap {
    -webkit-align-items: initial;
    align-items: initial;
}

.THIS .nav {
    padding: 2%;
}

.THIS .form {
    padding: 5% 7%;
}

.THIS .assistance {
    background-color: #fafafa;
    padding: 5%;
    min-height: calc(100vh - 90px); /* 90px = header + progress bar */
    position: relative;
}

.THIS .button-back {
    font-weight: 300;
    color: #979797;
}

.THIS .button-back .slds-icon {
    width: 12px;
    margin-right: 3px;
}

.THIS .button-back-text {
    vertical-align: middle;
}