.THIS {
    background-color: #106ea3;
    color: #ffffff;
}

.THIS .banner-container {
    max-width: 1140px;
    margin: auto;
} 

.THIS h1 {
    font-size: 54px;
    line-height: 1.19;
    font-family: RobotoSlab;
    font-weight: 300;
    max-width: 700px;
}

.THIS p {
    margin-bottom: 86px; 
    font-size: 22px;
    font-weight: 300;
}

.THIS p a {
    color: #ffffff;
    text-decoration: underline;
    display: inline-block;
    margin-left: 10px;
}

.THIS .icon-container_circle {
    width: 56px;
    height: 56px;
    background-color: #ffffff;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin: 0;
    color: rgba(0,0,0,0.2);
}