.THIS{
    background-color: #00629b;
}

.THIS.helpHeading{
    font-family: Roboto;
    font-size: 40px;
    line-height: 1.3;
    text-align: center;
    color: #ffffff;
    padding: 74px 0 24px 0;
}

.THIS .slds-grid{
    width:75%; 
    margin:auto;  
    background-color: #00629b;
}
.THIS ul{
    padding-left: 20%;
    margin-bottom: 65px;
    min-width: 540px;
}
.THIS ul li:first-child{
    font-family: Roboto;
    font-size: 20px;
    line-height: 2.5;
    text-align: left;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    cursor: default;
    
}
.THIS ul li{
    font-family: Roboto;
    font-size: 16px;
    line-height: 2.5;
    text-align: left;
    color: #ffffff;
    width:60%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.THIS svg{
    fill:rgba(255, 255, 255, 0.8);
}
.THIS .navArrow
{
    float:right;
}