.THIS.claim-number-box {
    border-radius: 4px;
    background-color: #fafafa;
    padding: 20px 28px;
    font-weight: 300;
    line-height: 1;
    display: table;
    width: calc(100% + 28px * 2);
    color: #1b436f;
    margin: 0 -28px 52px;
}

.THIS.claim-number-box .action {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.THIS.claim-number-box .claim-number {
    font-size: 32px;
    line-height: 1.31;
}

.THIS.claim-number-box .slds-button {
    background: rgba(0,0,0,0);
}

.THIS .claim-details-header .slds-button {
    float: right;
}

.THIS p {
    color: #54698d;
}



.THIS .uiMessage {
    color: #e8007f;
    padding: 5px;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 13px;
    line-height: 18px;
    border-color: #e8007f;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}